# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
!/.env.example
*.session
*.session-journal

# Local databases
*.db
*.sqlite
*.sqlite3

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Build
.dist/
build/
dist/

# Frontend caches
.vercel
.next
out/
*.log
